Client/node_modules/
Client/.expo/
Client/dist/
Client/npm-debug.*
Client/*.jks
Client/*.p8
Client/*.p12
Client/*.key
Client/*.mobileprovision
Client/*.orig.*
Client/web-build/
Client/.env
Client/yarn.lock
Server/node_modules/
Server/.env
Server/firebase/ServiceAccount.json

# macOS
*.DS_Store
node_modules
