Client/node_modules/
Client/.expo/
Client/dist/
Client/npm-debug.*
Client/*.jks
Client/*.p8
Client/*.p12
Client/*.key
Client/*.mobileprovision
Client/*.orig.*
Client/web-build/
Server/node_modules/

# macOS
*.DS_Store